# Description

In [2]:
# The code was removed by Watson Studio for sharing.

,year,resource,variable,units,magnitude,source,data_value,flag
0,2007,Biogas,Closing stock,Dollars,Thousands,Environmental Accounts,86656.00,R
1,2007,Biogas,Generation,Gigawatt hours,Actual,MBIE,224.00,F
2,2007,Biogas,Gigawatt hours,Number,Proportion,MBIE,0.01,F
3,2007,Biogas,Opening stock,Dollars,Thousands,Environmental Accounts,NaN,F
4,2007,Biogas,Other changes,Dollars,Thousands,Environmental Accounts,NaN,F